/* components/Collapse.module.css */
.collapse {
  border: 1px solid #000000;
  overflow: hidden;
}

.collapseHeader {
  align-items: center;
  padding: 10px 15px;
  background-color: #000000;
}

.collapseHeader span:first-child {
  flex: 1;
}

.readMoreLink {
  color: #0070f3;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
  white-space: nowrap;
}

.collapseContent {
  padding: 15px;
}
